# Shopee API Credentials
# Replace these with the values you get after submitting the Shopee form
SHOPEE_PARTNER_ID=PASTE_PARTNER_ID_HERE
SHOPEE_PARTNER_KEY=PASTE_PARTNER_KEY_HERE

# This is the URL we just generated
SHOPEE_REDIRECT_URL=https://heavy-stars-remain.loca.lt/api/shopee/callback
